<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/styles.css" rel="stylesheet"/>

         <title>{% block title %}{% endblock %} - Pinocchio's Pizzas & Subs</title>
      </head>

      <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="/">Pinocchio's Pizzas & Subs</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% if request.get_full_path == '/' %}active{% endif %}">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item {% if request.get_full_path == '/menu/' %}active{% endif %}">
                <a class="nav-link" href="/menu">Menu</a>
              </li>
              {% if request.user.is_staff %}
              <li class="nav-item dropdown {% if '/admin/' in request.get_full_path %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/admin/view_orders">View Orders</a>
                  <a class="dropdown-item" href="/admin">Manage Website</a>
                </div>
              </li>
              {% endif %}
              {% endif %}
            </ul>

            <div class="nav-item dropdown navbar-right">
              {% if request.user.is_authenticated %}
              Welcome, {{request.user.username}}
              <span>|</span>
              <a href="/order">My Order ({{global_cart_count}} items)</a>
              <span>|</span>
              <a href="/accounts/logout"><small>Logout</small></a>
              {% else %}
              <a href="/accounts/login">Login</a> or <a href="/accounts/register">register</a>
              {% endif %}
            </div>

          </div>
        </nav>
        <div class="container mt-3">
          {% if messages %}
            <ul class="messages mt-3">
              {% for message in messages %}
              <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% block body %}
          {% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/static/form_validate.js"></script>
      </body>
  </html>