{% extends "layout.html" %}

  {% block title %}
      Menu
  {% endblock %}

  {% block body %}
      <h1>View our Menu <small>| Build an order</small></h1>
      <table class="table">

        {% regroup menu_items by category as items_by_category %}

      {% for category in items_by_category %}
          <tbody>
          <tr class="table-primary"><th>{{category.grouper}}</th></tr>
          {% for item in category.list %}
          <tr>
              <td>
            <div class="row justify-content-between"> {# justify-content-between to make single size items move to end of row #}
                <div class="col-md-4">{{item.name}}</div>
                    {% if item.sm_price == item.lg_price %}
                        <div class="col-md-4">
                            {% include "add_menu_item.html" with price=item.sm_price %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                          {% include "add_menu_item.html" with size="small" price=item.sm_price %}
                       </div>
                       <div class="col-md-4">
                           {% include "add_menu_item.html" with size="large" price=item.lg_price %}
                       </div>
                    {% endif %}
            </div>
            </td>
          </tr>
          </tbody>
          {% endfor %}
    {% endfor %}
      </table>
  {% endblock %}