{% extends "layout.html" %}

  {% block title %}
      Menu
  {% endblock %}

  {% block body %}
        <h1>View our Menu <small>| Build an order</small></h1>

        {% regroup menu_items by item.category as items_by_category %}

        {% for category in items_by_category %}
        <div class="menu-category {{category.grouper}} p-3 mt-3">
          <h4 class="text-dark">{{category.grouper}}</h4>
          {% for item_and_form in category.list %}
              {% include "menu_item.html" with item=item_and_form.item form=item_and_form.form %}
          {% endfor %}
        </div>
        {% endfor %}

  {% endblock %}