nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

nav.navbar
{
    background-color: forestgreen;
    color: white;
}

nav.navbar a
{
    color: goldenrod;
}

#login, #logged-in {
    display: none;
}


body
{
    margin-bottom: 60px;
}
li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn:not(:disabled):not(.disabled),
input[type=checkbox]:not(:disabled):not(.disabed),
input[type=radio]:not(:disabled):not(.disabed)
{
    cursor: pointer;
}

.btn.btn-menu
{
    background-color: goldenrod;
    border: none;
    color: white;
/*    padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.container-full
{
    margin-left:200px;
}

.footer
{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
    line-height: 60px;
}

.menu-category.Subs
{
    background-color: lavender;
}

.menu-category.Pasta
{
    background-color: aliceblue;
}

.menu-category.Regular.Pizza
{
    background-color: #d4edda;
}

.menu-category.Sicilian.Pizza
{
    background-color: mistyrose;
}

.menu-category.Dinner.Platters
{
    background-color: lavenderblush;
}

.menu-category.Salads
{
    background-color: #fdfd96;
}

html
{
    min-height: 100%;
    position: relative;
}

/* taken from :  https://www.w3schools.com/css/css3_buttons.asp */